body {
    
    background-image: url("fon1.jpg");
    background-color: #cccccc;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
.Top_menu a:hover{
    color: #26C4FF;
}

header{
    display: flex;
    justify-content: center;
    margin-right: 25px;

}
.Logo, .Top_menu{
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;

}
.Top_menu li{
    display: inline-block;
    margin-right: 25px;
}

.button{
    position: relative;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: Arial;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #3498 ;
    line-height: 60px;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
    overflow: hidden;
}

.button:hover,
.button:focus {
    filter:brightness(1.2);
    cursor: pointer;
    outline: none;
}

.button:before,
.button:after  {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    width: 60px;
    height: 60%;
    background-color: #fff;
    filter: blur(40px);
    transform: skewX(-30deg);
}

.button:hover:before,
.button:focus:before {
    left: calc(100% + 150px);
    transition: 1s;
}

.button:hover:after,
.button:focus:after {
    left: calc(100% + 150px);
    transition: 1s 0.5s;
}

#menuVertical{
    width: 71px;
    height: auto;
    position: fixed;
    z-index: 5;
    top: 79px;
    transition: .3

}
#menuVertical ul{
    display: block;
    width: 54px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

#menuVertical ul li{
    display: block;
    width: 175px;
    height: 100px;
    position: relative;

}


#menuVertical ul li a{
    position: relative;
    display: block;
    width: 198px;
    height: auto;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
    line-height: 2em;
    padding: 10px 15px;
    background: rgb(4, 52, 65);
    text-decoration: none;
    text-shadow: 2px 2px 3px #222;
}

#menuVertical ul li a:hover,
#menuVertical ul li:hover a{
    background: rgb( 30, 60, 67);
    color:#fff
}

#menuVertical ul li ul{
    position: absolute;
    top: 0px;
    left: 198px;
    display: none;
    width: auto;
}

.menu{
    position: absolute;
    width: 198px;
    height: 100%;
    background: rgb(4, 52, 65);
    box-shadow: 1px 2px 3px #888;
    position: fixed;
    top: 79px;
    z-index: 3;

}